body {
   font-family: Tinos,'Palatino Linotype','Book Antiqua','New York','DejaVu serif',serif;
   font-weight: normal;
   font-style: normal;
   max-width: 800px;
   margin: auto;
   color: white;
   background: black;
}
h1, h2 {
text-align: center;
}
a {
  color: white;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
}
.smalldiv {
  max-width: 350px;
  margin: auto;
}
